.u-list{
    font-size: x-large;
    color: #5a6169;
list-style-type: none;   

}

.u-list li{
  background: url('../../images/diamond-bullet.png') no-repeat left top;
  background-size: 30px;
  padding-left: 40px;
    font-size: x-large;
    font-weight: 300;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.u-list .divforbuttons button {
  color: #5a6169;  
}

.u-list .divforbuttons button:link {
  color: #ffffff;  
}

.divforbuttons {
    text-align: center;
}

.u-list .buttonlist{
  
    font-size: x-large;
    margin-right:6px;
    margin-bottom: 10px;
}
