.ngo-main-div{
    display: flex;
}

.ngo-main-div .filter-area{
    background-color: #4a89dc;
    height: auto;
    border-radius: 5px;
    color: white;
    width: 289px;
    z-index: 100;
    font-family: hind,sans-serif;
}

.ngo-main-div .filter-area .filter-heading{
    color: white;
   font-size: 21px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 37px;;
    margin-bottom: 0px;
    letter-spacing: 0.8px;
}

.filter-options li a{
    font-family: hind,sans-serif;
    display: block;
    padding: 10px 5px;
    padding-left: 60px;
    margin:0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.filter-options li{
    margin: 0.25rem 0.25rem;
    font-family: hind,sans-serif;
    display: block;
}

.filter-options{
    max-height: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0px 0px;
}

.filter-options a:hover,
.filter-options a:active{
    background-color: #579df8;
}

.request-area{
    max-width: 70%; 
    padding: 0 2%;
}

.request-area-heading{
    font-family: hind,sans-serif;
    text-align: center;
    color: #4a89dc;
    font-weight: 550;
    margin-top: 23px;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.request-area .ngo-request-card-body{
    width: 90%;
    margin: 20px auto;
    box-sizing: content-box;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(90, 85, 85, 0.5);
    padding: 1rem !important; 
}
.ngo-request-card-title{
    font-size: 17px;
}
.ngo-request-card-subtitle{
    /* margin-top: -1rem !important; */
    font-size: 14px;
}
.ngo-request-card-text{
    font-size: 14px;
font-weight: 433;
line-height: 1.5;
color: #212529;
text-align: left;
margin-bottom: 0.75rem !important;
}
.ngo-request-card-btn{
    padding: 10px 1.25rem !important;
}




@media (max-width:1130px){
     .ngo-main-div{
        display: flex;
        flex-direction: column;
    }

    .ngo-main-div .filter-area{
        width: 100%;
    }

    .filter-options li a{
        border: 2px solid #579df8;
        width: 250px;
        padding: 10px 10px;
        display: inline-block;
        text-align: center;
    }

    .filter-options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ngo-main-div .filter-area .filter-heading{
        margin-top: 30px;
    }

    .filter-options{
        margin-bottom: 5px;
    }

    .request-area{
         max-width: 80%;
         margin: 0 auto;
     }
}
@media (max-width:514px){
    .filter-options li a{
        width: auto;

    }

}