
.main-admin-container{
padding-top: 20px; 
padding-bottom: 20px;  
padding-left: 10px;
padding-right: 10px;

background-color: #403b3b;

}

.text-in-admin1{
    color: azure;
    font-family: sans-serif;
}

.text-in-admin2{
font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
color:#999;
}


/*////*/

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 20px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }


  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 32px;
    font-weight: bold;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 50px;
    top: 50px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 28px;
  }

 .adminpageicon svg {
    overflow: hidden;
    vertical-align: top;
    margin-left: -10px;
}


