.display-pic {
    
    position: absolute;
    left: 0;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 65%;
    width: 100%;
}

.display_holderImage{
    height: 100%;
    position:relative;
    background: url(../../images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fade-content{
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 55%;
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fade-content h1{
    margin-bottom: 2px;
    font-size: 35px;
    line-height: 25px;
    letter-spacing: -.9px;
    font-family: ibm plex sans,sans-serif;
    font-weight: 700;
}

.fade-content .color-highlight{
    margin: 0 20px 20px;
    color: #4A89DC!important;
    line-height: 26px;
    font-size: 14px;
    display: block;
    position: relative;
    font-family: roboto,sans-serif;
    box-sizing: border-box;
    padding: 0;
    font-weight: 400px;
}

.fade-content hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.5px;
    width:80px;
    border-color:#4A89DC;
    background-color:#4A89DC ;
    margin: 0px 643px 20px;
}

.fade-content p{
    margin: 0 20px 20px;
    line-height: 22px;
    font-size: 13px;
    color: #6c6c6c;
    display: block;
    position: relative;
    font-family: roboto,sans-serif;
    box-sizing: border-box;
}
.fade-content a{
    text-decoration: none;
}

.fade-content .my-btn
{
    background-color:  #4A89DC;
    font-family: roboto,sans-serif;
    border: none;
    width: 170px;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 65px;
}
.fade-content .my-btn:active{
    outline:none;
}