.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    border: none;
    margin-right: 1rem;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button-line{
    width:30px;
    height: 2px;
    background: black;
}