
.basic-size{
  max-width: 300px;
  margin: 2rem;
}

.img-in-card-admin{    
  max-width: 350px;
font-size: small;
font-style: italic;
padding-left: 1px;
padding-right: 1px;
padding-bottom: 1px;


margin-bottom: 1px;
max-height: 170px;
contain: content;

display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(1,1,1,0.3);
  /* border-radius: 1rem; */


}
.allowscroll{
overflow: auto;
}

.carddeckclass{
  /* justify-content: center; */
text-align: -webkit-center;
}

.bold-text{
  font-weight: bold;
  font-family: sans-serif;
}

.cardimgsize{
  height: 220px;
}




/*SCROLL BAR STYLE IN CARD */

#style-1::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}